# virtual env
.venv

# log files
.log

# model files
.pth

# data files
*.csv
*.parquet
*.txt
*.h5
*.npy
*.vot
*.dat
*.tsv
*.fit
*.fits
*.pdf
*.json

# misc files and folders
__pycache__
__init__.py
temp
test